<h1><%= 'Welcome to Car Advertisements Web!' %></h1>
<%= button_to t(".help"), help_index_path,  {:method => :get, :class => "btn btn-primary mb-2"}  %>
<%= button_to t(".cars_list"), cars_path,  {:method => :get, :class => "btn btn-primary mb-2"}  %>
<%= button_to t(".search"), search_index_path,  {:method => :get, :class => "btn btn-primary mb-2"}  %>



<!--if isn’t logged in-->
<button>Login</button>
<!--if isn’t logged in-->
<button>Sign up</button>
<!--if is logged in-->
<button>My searches</button>
<!--if is logged in-->
<button>Logout</button>
