<h1><%= 'Hello world!' %></h1>
<button>Help</button>
<button>Cars List</button>
<button>Search</button>

<!--if isn’t logged in-->
<button>Login</button>
<!--if isn’t logged in-->
<button>Sign up</button>
<!--if is logged in-->
<button>My searches</button>
<!--if is logged in-->
<button>Logout</button>
